
    {% url 'dash_board' as dash_board %}
    {% url 'all_vehicles' as all_vehicles %}
    {% url 'admin_cars' as admin_cars %}
    {% url 'admin_vans' as admin_vans %}
    {% url 'admin_electrics' as admin_electrics %}
    {% url 'admin_suvs' as admin_suvs %}
    {% url 'all_stories' as all_stories %}
    {% url 'get_users' as get_users %}
    
 
<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo">
        &nbsp;  &nbsp;<div class="logo-name"><span>Sona</span></div>
    </a>
    <ul class="side-menu">
        
        <li class="{% if request.path == dash_board %} active {% endif %}"><a href="{% url 'dash_board' %}"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li class="{% if request.path == all_vehicles %} active {% endif %}"><a href="{% url 'all_vehicles' %}">&nbsp;&nbsp;<i class="fa fa-globe" aria-hidden="true"></i>&nbsp; All</a></li>
        <li class="{% if request.path == admin_cars %} active {% endif %}"><a href="{% url 'admin_cars' %}">&nbsp;&nbsp;<i class="fa fa-car" aria-hidden="true"></i>&nbsp;Cars</a></li>
        <li class="{% if request.path == admin_vans %} active {% endif %}"><a href="{% url 'admin_vans' %}">&nbsp;&nbsp;<i class="fa fa-bus" aria-hidden="true"></i>&nbsp;Vans</a></li>
        <li class="{% if request.path == admin_electrics %} active {% endif %}"><a href="{% url 'admin_electrics' %}">&nbsp;&nbsp;<i class="fa fa-taxi" aria-hidden="true"></i>&nbsp;Electrics</a></li>
        <li class="{% if request.path == admin_suvs %} active {% endif %}"><a href="{% url 'admin_suvs' %}">&nbsp;&nbsp;<i class="fa fa-train" aria-hidden="true"></i>&nbsp;SUVs</a></li>
        <li class="{% if request.path == all_stories %} active {% endif %}"><a href="{% url 'all_stories' %}">&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i> &nbsp;Stories</a></li>
        <li class="{% if request.path == get_users %} active {% endif %}"><a href="{% url 'get_users' %}"><i class='bx bx-group'></i>Users</a></li>
    
        {% comment %} 
        <li type="submit"></li>
         {% endcomment %}
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'admin_logout' %}" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->

