

 
<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo">
        &nbsp;  &nbsp;<div class="logo-name"><span>Sona</span></div>
    </a>
    <ul class="side-menu">
        
        <li class="active"><a href="{% url 'dash_board' %}"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li><a href="{% url 'all_vehicles' %}">&nbsp;&nbsp;<i class="fa fa-globe" aria-hidden="true"></i>&nbsp; All</a></li>
        <li><a href="{% url 'admin_cars' %}">&nbsp;&nbsp;<i class="fa fa-car" aria-hidden="true"></i>&nbsp;Cars</a></li>
        <li><a href="{% url 'admin_vans' %}">&nbsp;&nbsp;<i class="fa fa-bus" aria-hidden="true"></i>&nbsp;Vans</a></li>
        <li><a href="{% url 'admin_electrics' %}">&nbsp;&nbsp;<i class="fa fa-taxi" aria-hidden="true"></i>&nbsp;Electrics</a></li>
        <li ><a href="{% url 'admin_suvs' %}">&nbsp;&nbsp;<i class="fa fa-train" aria-hidden="true"></i>&nbsp;SUVs</a></li>
        <li><a href="{% url 'all_stories' %}">&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i> &nbsp;Stories</a></li>
        <li><a href="{% url 'get_users' %}"><i class='bx bx-group'></i>Users</a></li>
    
        {% comment %} 
        <li type="submit"></li>
         {% endcomment %}
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'admin_logout' %}" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->

