{% extends 'mainapp/all_vehicles.html' %}

{% block main %}

<hr>

<a class="btn btn-outline-primary btn-sm" href="{% url 'create_rental' %}">
    Make rental record &nbsp; <i class='fa fa-plus-circle' aria-hidden="true"></i>
</a> 

<hr>


    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Total Quantity</th>
                <th>Total Price</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in my_rentals %}
            <tr>
                <td>{{ rental.id }}</td>
                <td>{{ rental.first_name }}</td>
                <td>{{ rental.phone }}</td>
                <td>{{ rental.address }}</td>
                <td>{{ rental.company_branch }}</td>
                <td>{{ rental.total_quantity }}</td>
                <td>{{ rental.hire_amount }}</td>
                <td>{{ rental.creation_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}
