{% extends 'mainapp/all_vehicles.html' %}

{% block main %}

<hr>

<a class="btn btn-outline-primary btn-sm" href="{% url 'create_rental' %}">
    Make rental record &nbsp; <i class='fa fa-plus-circle' aria-hidden="true"></i>
</a> 

<hr>

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Full Name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone </th>
                <th scope="col"> Address </th>
                <th scope="col"> Co. Branch </th>
                <th scope="col"> Car Model </th>
                <th scope="col"> Plate Number </th>
                <th scope="col"> Car Color </th>
                <th scope="col"> Agent Name </th>
                <th scope="col"> Agent Number </th>
                <th scope="col"> Date Created </th>

                <th scope="col"> View </th>
                
            </tr>

        </thead>

        <tbody>
           
            {% if my_rentals %}

                {% for rental in my_rentals %} 

                    <tr>
                        <td>{{rental.id}}</td>

                        <td>{{rental.first_name}}   {{rental.last_name}}</td>
                        <td>{{rental.email}}</td>
                        <td>{{rental.phone}}</td>
                        <td>{{rental.address}}</td>
                        <td>{{rental.company_branch}}</td>
                        <td>{{rental.car_model}}</td>
                        <td>{{rental.plate_number}}</td>
                        <td>{{rental.car_color}}</td>
                        <td>{{rental.agent_name}}</td>
                        <td>{{rental.agent_number}}</td>
                        <td>{{rental.creation_date}}</td>

                        <td> <a class="btn btn-success btn-sm" href="{% url 'view_rental' rental.id %}"> <i class='fa fa-eye' aria-hidden="true"></i></a> </td>

                    </tr>

                {% endfor %}

            {% endif %}

        </tbody>

    </table>

{% endblock main %}
