{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Sign Up</title>
    {% endblock title %}
    <link href="https://fonts.googleapis.com/css?family=Jost:wght@500&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        
        {% block content %}
            <div class="signup">
                <form action="/auth" method="post">
                    {% csrf_token %}
                    <label for="chk" aria-hidden="true">Sign Up</label>
                    {% for message in messages %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                        <p id="message-timer" class="alert alert-success float-center text-center message-text">

                            <i class='fa fa-check' aria-hidden="true"></i> &nbsp; {{message}}

                        </P> 

                        {% endif %}
                    {% endfor %}
                                    
                    <input type="email" name="email"  id="email" placeholder="Email" required="">
                    <input type="password" name="pass1" id ="pass1" placeholder="Password" required="">
                    <input type="password" name="pass2" id="pass2" placeholder="Confirm Password" required="">
                    <button> Sign Up</button>
                    <p>Already have an account? <a href="/login">Login</a></p>
                </form> 
            </div>
        {% endblock content %}
    </div>
</body>
</html>