{% extends 'mainapp/base.html' %}
{% block title %}
     Authentication   
{% endblock title %}
{% load static %}

{% block css %}

{% endblock css %}

{% block searchcss %}

{% endblock searchcss %}

{% block content %}

        
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign Up</label>
                <input type="text" name="txt" placeholder="User name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button> Sign Up</button>
            </form> 
        </div>

        <div class="login">
            <form>
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email">
                <input type="Password" name="pswd" placeholder="Password">
                <button> Login</button>

            </form>
        </div>
    </div>
    
</body>
{% endblock content %}