{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<div class="collection__category">
    {% block categories %}
    <h1>Choose Your Favorite Car</h1>
    {% endblock categories %}
    <hr />
    <div class="collection__container">
        {% for item in vehicles %}
        <div class="collection__car__item " id="collection-car-item-page" data-id="{{item.id}}">
            <img src="{{item.vehicle_image.url}}" ait="cars" id="collection-page-img"/>
            <div class="car__info__container">
                <div class="car__info">
                    <div class="car__price">
                        <h5 class="price" >KES {{item.hire_amount}}</h5>
                        <h6>/Day</h6>
                    </div>
                    <div class="car__location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h6>{{item.location}}</h6>
                    </div>

                </div>
                <h2 class="product-title">{{item.vehicle_name}}</h2>
                <button type="submit" value="{{detail.id}}" class="btn btn__car btn__collection__page add-cart">&nbsp;Book Now</button>

            </div>
        </div>
        {% endfor %}
        
       
    </div>
</div>
<br>
<br>
<br>

{% endblock content %}