{% extends 'mainapp/admin_base.html' %}

{% block title %}
<title>Cart</title>
{% endblock title %}

{% block upperbar %}

{% endblock upperbar %}

{% block content %}

<hr>
<h3 class="text-center"> View Your Cart... </h3>
<hr>
{% block table %}
<table class="table table-hover table-bordered ">
    <thead class="table-light">

        <tr>
            
            <th scope="col"> ID </th>
            <th scope="col"> Vehicle Model </th>
            <th scope="col"> Vehicle Color </th>
            {% comment %} <th scope="col"> Acceleration </th> {% endcomment %}
            <th scope="col"> Seats</th>
            <th scope="col"> Location </th>
            <th scope="col"> Hire Amount </th>
            <th scope="col"> Date Of Order </th>
            <th scope="col"> View </th>
            
        </tr>

    </thead>
    <tbody>

        {% if vehicle_details%}
       
            {% for detail in vehicle_details %} 
            
                <tr >
                    <td>{{detail.vehicle.id}}</td>
            
                    <td>{{detail.vehicle.vehicle_name}}</td>
                    <td>{{detail.vehicle.vehicle_color}}</td>
                    <td>{{detail.vehicle.seats}}</td>
                    <td>{{detail.vehicle.location}}</td>
                    <td>KES {{detail.vehicle.hire_amount}}</td>
                    <td>{{detail.vehicle.creation_date}}</td>
            
                    <td> <a class="btn btn-success btn-sm" href="{% url 'view_record' detail.vehicle.id %}"> <i class='fa fa-eye' aria-hidden="true"></i></a> </td>
            
                </tr>
            
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock table %}


{% endblock content %}