{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
</head>
<body>
    
<div class="container">
    <div class="checkoutLayout">
        <div class="returnCart">
            <a href="/">Keep Renting</a>
            <h1>List of Car Collection</h1>
            <div class="list">
                <div class="checkout-item">
                    {% comment %} <img src="images/1.webp">
                    <div class="info">
                        <div class="name">PRODUCT 1</div>
                        <div class="price">$22/1 product</div>
                    </div>
                    <div class="quantity">5</div>
                    <div class="returnPrice">$433.3</div> {% endcomment %}
                </div>
            </div>
        </div>
       
        <div class="right">
            <h1>Complete Transaction</h1>
            <form class="form">
                {% csrf_token %}
                <div class="group">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" id="name" >
                </div>
    
                <div class="group">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone">
                </div>
    
                <div class="group">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" >
                </div>
                
                <div class="group">
                    <label for="city">City</label>
                    <select name="city" id="city" >
                        <option value="Nairobi">Nairobi</option>
                        <option value="Kisumu">Kisumu</option>
                        <option value="Eldoret">Eldoret</option>
                        <option value="Nakuru">Nakuru</option>
                        <option value="Naivasha">Naivasha</option>
                        <option value="Kisii">Kisii</option>
                    </select>
                </div>
                <div class="group">
                    <label for="address">National ID</label>
                    <input type="text" name="national_id" id="national_id"  >
                </div>
            </form>
            <div class="hidden">
                <input type="text" name="transactionCode" id="transactionCode"  >
                <input type="text" id="plateNumber" name="plate_number" >
                <input type="text" id="carModel" name="car_model" >
                <input type="text" id="carColor" name="car_color" >
                <input type="text" id="hireAmount" name="hire_amount">
            </div>

            <div class="return">
                <div class="row">
                    <div>Total Quantity</div>
                    <div class="totalQuantity">0</div>
                </div>
                {% comment %} <div class="row">
                    <div>Sub Total</div>
                    <div class="subtotal">KES 0</div>
                </div>
                <div class="row">
                    <div>Tax Vat 16%</div>
                    <div class="vat">KES 0</div>
                </div>
                <div class="row">
                    <div>Discount 10%</div>
                    <div class="discount">KES 0</div>
                </div> {% endcomment %}
                <div class="row">
                    <div>Total Price</div>
                    <div class="totalPrice">KES 0</div>
                </div>
            </div>

            <button class="buttonCheckout">Make Payment</button>
        </div>
    </div>
</div>

<script src="{% static 'js/checkout.js' %}" defer></script>
<script src="{% static 'js/cart.js' %}" defer></script>

</body>
</html>
