{% extends 'mainapp/admin_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .form-layout{
        border-radius: 15px;
        width: 500px;
        
    }
</style>

    <body>

        <div class = "container bg-light shadow-md p-5 form-layout">

            <h3> Create record</h3>

            <h6>Add the required details</h6>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {% block form %}

                {{form.vehicle_image|as_crispy_field}}

                <br>
                
                {{form.plate_number|as_crispy_field}}

                <br>
                
                {{form.vehicle_name|as_crispy_field}}

                <br>
                
                {{form.vehicle_color|as_crispy_field}}

                <br>
                
                {{form.vehicle_category|as_crispy_field}}

                <br>
                
                {{form.location|as_crispy_field}}

                <br>
                
                {{form.hire_amount|as_crispy_field}}

                <br>
                
                
                {% endblock form %}

                
                <button type="submit" class="btn btn-primary">

                     Create record &nbsp; <i class='fa fa-check' aria-hidden="true"></i>

                </button>

                &nbsp;
                {% block return %}
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">

                    Return &nbsp;  <i class='fa fa-arrow-left' aria-hidden="true"></i>

                </a>
                {% endblock return %}

            </form>

        </div>

    </body>

{% endblock %}