
{% extends 'mainapp/base.html' %}
{% block title %}
         Home   
{% endblock title %}

{% load static %}


{% block content %}

        <div class="header__container" id="home">

            <h1>PREMIUM CAR RENTAL</h1>
            <div class="hero__btn btn">
            </div>
            <form action="/">
                {% csrf_token %}
                <div class="input__group">
                    <label for="location">Pick up & Return location</label>
                    <input type="text" name="location" id="location" placeholder="Nairobi, Kenya">
                </div>
                <div class="input__group">
                    <label for="start">Start</label>
                    <input type="text" name="start" id="start" placeholder="Aug 16, 10:00 AM">
                </div>
                <div class="input__group">
                    <label for="stop">Stop</label>
                    <input type="text" name="stop" id="stop" placeholder="Aug 18, 10:00 AM">
                </div>

                
                {% comment %} <button class="btn"><i class="ri-search-line"></i></button> {% endcomment %}
            </form> 
            
            <div class="checkoutLayout">
                <div class="right ">
                    <h4 >Search With...</h4>
                    
                    <div class="form ">
                        <div class="group">
                            <input type="text" placeholder= "Vehicle Model.." name="name" id="name">
                        </div>

                        <div class="group">
                            <input type="text"placeholder="Number of Seats.." name="phone" id="phone">
                        </div>

                        <div class="group">
                            <input type="text"placeholder="Milage" name="address" id="address">
                        </div>
                        
                        <div class="group">
                            <select name="city" id="city" placeholder="City">
                                <option value="">Nairobi</option>
                                <option value="">Kisumu</option>
                                <option value="">Eldoret</option>
                                <option value="">Nakuru</option>
                                <option value="">Naivasha</option>
                                <option value="">Kisii</option>
                            </select>
                        </div>
                        <div class="group">
                            <input type="budget" name="budget" id="budget" placeholder="Budget">
                            
                        </div>

                    </div>
                </div>
                
                
                        <img src="{% static 'assets/home_img.png' %}" alt="header"/>
        </div>
        <a href="#about" class="scroll__down">
            <i class="ri-arrow-down-line"></i>
        </a>
    </header>
    <section class="section__container range__container" id="about">
        <h2 class="section__header">WIDE RANGE OF VEHICLES</h2>
        <div class="range__grid">
            <div class="range__card">
                <img src="{% static 'assets/istockphoto-1379610301-612x612.webp' %}" alt="range" />
                <div class="range__details">
                    <h4>CARS</h4>
                    <a href="{% url 'cars' %}"><i class="ri-arrow-right-line"></i></a>
                </div>
            </div>
            <div class="range__card">
                <img src="{% static 'assets/IMG_20240916_193355.jpg' %}" alt="range" />
                <div class="range__details">
                    <h4>VANS</h4>
                    <a href="{% url 'vans' %}"><i class="ri-arrow-right-line"></i></a>
                </div>
            </div>
            <div class="range__card">
                <img src="{% static 'assets/istockphoto-1474471009-612x612.webp' %}" alt="range" />
                <div class="range__details">
                    <h4>SUVS</h4>
                    <a href="{% url 'suvs' %}"><i class="ri-arrow-right-line"></i></a>
                </div>
            </div>
            <div class="range__card">
                <img src="{% static 'assets/istockphoto-1150931120-1024x1024.jpg' %}" alt="range" />
                <div class="range__details">
                    <h4>ELECTRIC</h4>
                    <a href="{% url 'electric' %}"><i class="ri-arrow-right-line"></i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}