{% extends 'mainapp/auth.html' %}


{% load static %}


{% block content %}

<div class="login">
    <form action="/login" method="post">
        {% csrf_token %}
        <label for="chk" aria-hidden="true">Login</label>
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                <strong></strong> {{message}}
            </div>
        {% endfor %}
        <input type="email" name="email" placeholder="Email">
        <input type="Password" name="pass1" placeholder="Password">
        <button> Login</button>
        <p>Forgot Password? <a href="/">Reset</a></p>
        <p>Don't have account? <a href="/auth">Sign Up</a></p>
        <h3><a href="/">Admin</a></h3>

    </form>
</div>

{% endblock content %}