{% extends 'mainapp/auth.html' %}


{% load static %}

{% block title %}
        <title>Login</title>
    {% endblock title %}

{% block content %}

<div class="login">
    <form action="/login/" method="post">
        {% csrf_token %}
        <label for="chk" aria-hidden="true">Login</label>
        {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

           <p id="message-timer" class="alert alert-success float-center text-center message-text">

            <i class='fa fa-check' aria-hidden="true"></i> &nbsp; {{message}}

           </P> 

        {% endif %}
        {% endfor %}
        <input type="email" name="email" placeholder="Email">
        <input type="Password" name="pass1" placeholder="Password">
        <button> Login</button>
        <p>Forgot Password? <a href="/request-reset-email/">Reset</a></p>
        <p>Don't have account? <a href="/auth">Sign Up</a></p>
        <div class="admin">

            <h2><a href="{% url 'admin_login' %}" >Admin</a></h2>
        </div>

    </form>
</div>

{% endblock content %}