{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

        

<section class="select__container" id="ride">
    <h2 class="section__header">PICK YOUR DREAM CAR TODAY</h2>
    <div class="heading">
        <h1>Rent With 3 Easy Steps !</h1>
        <div class="ride__container">
            <div class="box">
                <i class="bx bxs-map"></i>
                <h2>Choose A location</h2>
                <p>
                   
                    Simply enter tour location and let us connect you with top-tier vehicles ready for rental.
                </p>
            </div>
            <div class="box">
                <i class="bx bxs-calendar-check"></i>
                <h2>Pick Up Date</h2>
                <p>
                    Enter the date that you intend to pick up the car for convinience purposes
                </p>
            </div>
            <div class="box">
                <i class="bx bxs-calendar-star"></i>
                <h2>Book A Car</h2>
                <p>
                    Choose your favourite car and make payment so as it is reserved for you
                </p>
            </div>
        </div>
    </div>
    <div class="product-box">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            
                
                {% for item in renting_cars %}
                <div class="swiper-slide vehicle-card">
                    <div class="select__card list" data-price="{{ item.hire_amount }}" data-car-id="{{ item.id }}">
                        <div class="hidden">
                            <h4 class="vehicle-name">{{item.vehicle_name}}</h4>
                            <h4 class="vehicle-color">{{item.vehicle_color}}</h4>
                            <h4 class="vehicle-plate">{{item.plate_number}}</h4>
                        </div>
                        <img src="{{item.vehicle_image.url}}" alt="select">
                        <div class="select__info">
                            <div class="select__info__card">
                                <span><i class="ri-speed-up-line"></i></span>
                                <h4>{{item.speed}} <span>km/h</span></h4>
                            </div>
                            <div class="select__info__card">
                                <span><i class="ri-settings-5-line"></i></span>
                                <h4>{{item.settings}} <span>speed</span></h4>
                            </div>
                            <div class="select__info__card">
                                <span><i class="ri-roadster-line"></i></span>
                                <h4 >{{item.seats}} <span>seats</span></h4>
                            </div>
                            <div class="select__info__card">
                                <span><i class="ri-signpost-line"></i></span>
                                <h4>{{item.mileage}} <span>milage</span></h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        
        </div>
        <div class="select__form">
            <div class="select__price">
                <span><i class="ri-price-tag-3-line"></i></span>
                <div><span class="price" id="select-price">{{item.hire_amount}}</span> /day</div>
            </div>
            <div class="select__btns">
                <button class="btn">View Details</button>

                <button type="submit" class="btn btn-rent" value="{{item.id}}">Rent Now</button>

            </div>
        </div>
    </div>

</section>
{% block contact %}

{% endblock contact %}



{% endblock content %}