{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

        

<section class="select__container" id="ride">
    <h2 class="section__header">PICK YOUR DREAM CAR TODAY</h2>
    <div class="heading">
        <h1>Rent With 3 Easy Steps !</h1>
        <div class="ride__container">
            <div class="box">
                <i class="bx bxs-map"></i>
                <h2>Choose A location</h2>
                <p>
                    Whether you are looking for a luxury sedan, a spacious suv, or a sporty convertible,
                    our easy-to-use tool helps you find the ideal car for your journey.
                    Simply enter tour location and let us connect you with top-tier vehicles ready for rental.
                </p>
            </div>
            <div class="box">
                <i class="bx bxs-calendar-check"></i>
                <h2>Pick Up Date</h2>
                <p>
                    Whether you are looking for a luxury sedan, a spacious suv, or a sporty convertible,
                    our easy-to-use tool helps you find the ideal car for your journey.
                    Simply enter tour location and let us connect you with top-tier vehicles ready for rental.
                </p>
            </div>
            <div class="box">
                <i class="bx bxs-calendar-star"></i>
                <h2>Book A Car</h2>
                <p>
                    Whether you are looking for a luxury sedan, a spacious suv, or a sporty convertible,
                    our easy-to-use tool helps you find the ideal car for your journey.
                    Simply enter tour location and let us connect you with top-tier vehicles ready for rental.
                </p>
            </div>
        </div>
    </div>
    <div class="product-box">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            
                
                {% for item in renting_cars %}
                <div class="swiper-slide">
                    <div class="select__card">
                        <img src="{{item.vehicle_image.url}}" alt="select">
                        <div class="select__info">
                            <div class="select__info__card">
                                <span><i class="ri-speed-up-line"></i></span>
                                <h4>{{item.speed}} <span>km/h</span></h4>
                            </div>
                            <div class="select__info__card">
                                <span><i class="ri-settings-5-line"></i></span>
                                <h4>{{item.settings}} <span>speed</span></h4>
                            </div>
                            <div class="select__info__card">
                                <span><i class="ri-roadster-line"></i></span>
                                <h4 >{{item.seats}} <span>seats</span></h4>
                            </div>
                            <div class="select__info__card">
                                <span><i class="ri-signpost-line"></i></span>
                                <h4>{{item.milage}} <span>milage</span></h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        
        </div>
        <div class="select__form">
            <div class="select__price">
                <span><i class="ri-price-tag-3-line"></i></span>
                <div><span class="price" id="select-price">KES {{item.hire_amount}}</span> /day</div>
            </div>
            <div class="select__btns">
                <button class="btn">View Details</button>


                <button type="submit" value="{{detail.id}}" class="btn  add-cart">&nbsp;Rent Now</button>

                {% comment %} <button class="btn add-cart">Rent Now</button> {% endcomment %}

                {% comment %} <button class="btn" href="{% url 'rent_now' %}">Rent Now</button> {% endcomment %}
            </div>
        </div>
    </div>

</section>
{% block contact %}

{% endblock contact %}



{% endblock content %}