{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<section class="section__container location__container" id="rent">
    <div class="location__image">
        <img src="{% static 'assets/images.jpeg' %}" alt="location">
    </div>
    <div class="location__content">
        <h2 class="section__header">FIND A CAR IN YOUR LOCATION</h2>
        <p>Discover the perfect vehicle tailored for your needs wherever you are.
           Our 'Find a Car in your Location' feature allows you to effortlessly search and select from our premium fleet available near you
           Whether you are looking for a luxury sedan, a spacious suv, or a sporty convertible,
           our easy-to-use tool helps you find the ideal car for your journey.
           Simply enter tour location and let us connect you with top-tier vehicles ready for rental.
        </p>
    </div>
    <div class="location__btn">
        <button class="btn " onclick="window.location.href='{% url 'maps' %}'">Find a Location</button>
       
    </div>
</section>
{% block contact %}

{% endblock contact %}

{% endblock content %}