{% extends 'mainapp/auth.html' %}


{% block title %}
        <title>Set new Password</title>
    {% endblock title %}

{% block content %}
            <div class="signup">
                <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                    {% csrf_token %}
                    <label for="chk" aria-hidden="true">Set New Password</label>
                    {% for message in messages %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                        <p id="message-timer" class="alert alert-success float-center text-center message-text">

                            <i class='fa fa-check' aria-hidden="true"></i> &nbsp; {{message}}

                        </P> 

                        {% endif %}
                    {% endfor %}
                                    
                    <input type="password" name="pass1" id ="pass1" placeholder="New Password" required="">
                    <input type="password" name="pass2" id="pass2" placeholder="Confirm New Password" required="">
                    
                    <button>Submit</button>
                    <p><a href="/login">Back</a></p>
                </form> 
            </div>
        {% endblock content %}