{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>Invoice </title>
	<link rel="stylesheet" href="{% static 'css/sona_invoice.css' %}">
</head>
<body>

<div class="wrapper">
	<div class="invoice_wrapper">
		<div class="header">
			<div class="logo_invoice_wrap">
				<div class="logo_sec">
					<div class="title_wrap">
						<p class="title bold">SONA PREMIUM</p>
						<p class="sub_title">Car Rental</p>
					</div>
				</div>
				<div class="invoice_sec">
					<p class="invoice bold">RECEIPT</p>
					<p class="invoice_no">
						<span class="bold">Receipt</span>
						<span>#{{transaction.id}}</span>
					</p>
					<p class="invoice_no">
						<span class="bold">MpesaCode:</span>
						<span> {{transaction.transactionCode}}</span>
					</p>
					<p class="date">
						<span class="bold">Date</span>
						<span>{{transaction.timestamp}}</span>
					</p>
				</div>
			</div>
			<div class="bill_total_wrap">
				<div class="bill_sec">
					<p>Bill To</p> 
	          		<p class="bold name">{{transaction.name}}</p>
			        <span>
			           {{transaction.address}}<br/>
			           {{transaction.phone_number}}
			        </span>
				</div>
				<div class="total_wrap">
					<p>Total Due</p>
	          		<p class="bold price">KES: {{transaction.amount}}</p>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="main_table">
				<div class="table_header">
					<div class="row">
						<div class="col col_no">PLATE NO.</div>
						
						<div class="col col_des">CAR DESCRIPTION</div>
						
						<div class="col col_total">AMOUNT</div>
					</div>
				</div>
				<div class="table_body">
					<div class="row">
						<div class="col col_no">
							<p>{{transaction.plate_number}}</p>
						</div>
						
						<div class="col col_des">
							<p class="bold">{{transaction.vehicle_name}}</p>
							<p>{{transaction.vehicle_color}}</p>
						</div>
						
						<div class="col col_total">
							<p>{{transaction.hire_amount}}</p>
						</div>
					</div>
					
				</div>
			</div>
			<div class="paymethod_grandtotal_wrap">
				<div class="paymethod_sec">
					<p class="bold">Payment Method</p>
					<p>M-pesa Express</p>
				</div>
				<div class="grandtotal_sec">
			        <p class="bold">
			            <span>SUB TOTAL</span>
			            <span>{{transaction.amount}}</span>
			        </p>
			        <p>
			            <span>Tax Vat 18%</span>
			            <span>$200</span>
			        </p>
			        <p>
			            <span>Discount 10%</span>
			            <span>-$700</span>
			        </p>
			       	<p class="bold">
			            <span>Grand Total</span>
			            <span>$7000.0</span>
			        </p>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Thank you and Best Wishes on Your Trip</p>
			<div class="terms">
		        <p class="tc bold">Terms & Coditions</p>
		        <p>Renter must possess a valid driver’s license for at least 2 years. Payment must be made in full at the start of the rental period.Late returns will incur an additional charge of KES 1000/= per hour</p>
		    </div>
		</div>
	</div>
</div>



</body>
</html>