{% extends 'mainapp/view_record.html' %}

{% block buttons %}
        <a href="{% url 'admin_cars' %}" class="btn btn-secondary">Return &nbsp; <i class='fa fa-arrow-left' aria-hidden="true"></i></a>
        
        &nbsp;
        
        <a href="{% url 'update_record' detail.id %}" class="btn btn-info">Update record  &nbsp; <i class='fa fa-plus' aria-hidden="true"></i></a>
        &nbsp;
        <a hx-delete="{% url 'delete_detail' detail.id %}" class="btn btn-danger"
            hx-confirm="Are you sure you wish to delete this record?">
            Delete  &nbsp; <i class='fa fa-minus-square' aria-hidden="true"></i>
        </a>  
    {% endblock buttons %}