body{
    font-family: monospace;
    overflow-x: hidden;
    font-synthesis: 15px;
}
a{
    text-decoration: none;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}
.checkoutLayout .right{
    background-color: rgb(39, 39, 129);
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    max-width: 500px;

}
.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid rgb(39, 39, 129);
    padding-bottom: 20px;
    max-width: 500px;
}
.checkoutLayout .form h1,
.checkoutLayout .form .group:nth-child(-n+4){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkoutLayout .form input, 
.checkoutLayout .form select
{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border:none;
    background-color: #6a6fc9;
    color: #fff;
}

.checkoutLayout .right .return{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}
.checkoutLayout .right .return .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.checkoutLayout .right .return .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}

.hidden{
    visibility: hidden;
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}


.buttonCheckout{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between spinner and text */
    width: 100%; 
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #49D8B9;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}
.buttonCheckout:hover{
    background-color: #077a61;

}
.returnCart h1{
    border-top: 1px solid #eee;  
    padding: 20px 0;
}
.returnCart .list img{
    height: 80px;
}
.returnCart  .checkout-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    background-color: antiquewhite;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 20px;
}
.returnCart .checkout-box .name,
.returnCart .checkout-box .returnPrice{
    font-size: large;
    font-weight: bold;
}
@media screen and(max-width:600px){
    .checkoutLayout  {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
}