body{
    background: transparent;
    background-size: cover;
    font-family: Arial;
}
.openbtn{
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.7);
}
.overlay-content{
    position: relative;
    top: 50%;
    width: 50%;
    text-align: center;
    margin: auto;
}
.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: #ffff;

}
.overlay .closebtn:hover{
    color:#ccc;
}
.overlay input[type=text]{
    padding: 15px;
    font-size: 20px;
    border: none;
    float: left;
    width: 80%;
    background-color: antiquewhite;

}
.overlay input[type=text]{
    background: #f1f1f1
}
.overlay button{
    float: left;
    width: 15%;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: linear-gradient(#7572ec,#585e86);

}
.overlay button:hover{
    background: black;
}